body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

body {
    min-height: 100vh; /* Ocupa a altura total da tela */
    display: flex;
    justify-content: center; /* Centraliza o #DADO horizontalmente */
    align-items: center; /* Centraliza o #DADO verticalmente */
    position: relative; /* Base de referência para o botão absoluto */
    overflow: hidden;
}

#dado {
  font-size: calc(10px + 2vmin);
  color: white;

}
#nerd {
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  background: blueviolet;
  font-size: 40px;
  padding: 20px;
  border-radius: 20px;
  border: 5px;
}

.menu-lateral {
    position: absolute;
    top: 20px;
    right: 20px;
    max-height: 80vh; /* Ocupa no máximo 80% da altura da tela */
    display: flex;
    flex-direction: column; /* Organiza os botões em coluna */
    gap: 10px; /* Espaçamento entre os botões */
    overflow-y: auto; /* Ativa a barra de rolagem vertical quando necessário */
    padding-right: 5px; /* Espaço para a barra de rolagem não cobrir o texto */
}

.menu-lateral button {
     padding: 10px 20px;
    font-size: 14px;
    background-color: #2ed573;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    white-space: nowrap;
}
